[Unit]
Description=Exposes the current sun and moon positions for Warwick La Palma telescopes environment daemon.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3.6 -u /usr/bin/ephemd
ExecStartPost=/usr/bin/env python3.6 -u /usr/bin/obslog info ephemd Started by systemd
ExecStopPost=/usr/bin/env python3.6 -u /usr/bin/obslog info ephemd Stopped by systemd
StandardOutput=syslog
StandardError=syslog
Environment="XDG_CONFIG_HOME=/var/tmp/daemon_home"
Environment="XDG_CACHE_HOME=/var/tmp/daemon_home"

[Install]
WantedBy=multi-user.target
